<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
    <property name="LOGS" value="resource-service/logs"/>

    <!-- Разноцветный консольный аппендер  -->
    <appender name="CONSOLE_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %white(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1}): %highlight(%msg%n%throwable)
            </pattern>
        </encoder>
    </appender>

    <!-- Серверные логи в файл. Для джава выражений в фильтре нужен компилятор janino: org.codehaus.janino:janino:3.1.12 -->
    <appender name="FILE_SERVER_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator>
                <expression>
                    boolean isServerLog = !logger.startsWith("org.hibernate")
                    &amp;&amp; !logger.startsWith("org.springframework")
                    &amp;&amp; !logger.startsWith("home.nkt.resourceservice");
                    if (isServerLog) {
                    return true;
                    }
                    return false;
                </expression>
            </evaluator>
        </filter>
        <file>${LOGS}/server/log.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/server/log-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>1MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <!-- Спринговские логи в файл. -->
    <appender name="FILE_SPRING_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/spring/log.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/spring/log-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>1MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>
    <logger name="org.springframework" level="INFO">
        <appender-ref ref="FILE_SPRING_APPENDER"/>
    </logger>

    <!-- Логи Хибернэйта в файл. -->
    <appender name="FILE_HIBERNATE_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/hibernate/log.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/hibernate/log-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>1MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>
    <logger name="org.hibernate" level="INFO">
        <appender-ref ref="FILE_HIBERNATE_APPENDER"/>
    </logger>

    <!-- Логи приложения в файл. -->
    <appender name="FILE_APP_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/app/log.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/app/log-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>1MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>
    <logger name="home.nkt.resourceservice" level="INFO">
        <appender-ref ref="FILE_APP_APPENDER"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE_APPENDER"/>
        <appender-ref ref="FILE_SERVER_APPENDER"/>
    </root>
</configuration>

